<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IPiService">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://127.0.0.1/" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IPiService" contract="ServiceReference1.IPiService"
                name="NetTcpBinding_IPiService" />
        </client>
    </system.serviceModel>
</configuration>